############
# Secrets
# YOU MUST CHANGE THESE BEFORE GOING INTO PRODUCTION
############

POSTGRES_PASSWORD=gneUBc8Q3stkN28vubOLYr2eMeTYt5HEjzuw4S9gtmAxknUgpFwbgi7DpTubmB0R1NJr32Oz
JWT_SECRET=rOVfZSpHNJvVGAHSJUQyWIEXvxlOKSbhIwI9U70B
ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzQ1MjU0ODAwLCJleHAiOjMwMDQwMjUyMDB9.v-DwccLCmgeBkLAjC8_4-hhL-rCD7Bx9IeDBk6288gg
SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE3NDUyNTQ4MDAsImV4cCI6MTkwMzAyMTIwMH0.412ynsCxNZ0T7izS2vm5pfgdP2NlB6tKj66S1o3l0lQ
DASHBOARD_USERNAME=thuyetnn
DASHBOARD_PASSWORD=20b84bcbfc703fc8c198577bcdE1d0f290acf155@supabase

############
# Database - You can change these to any PostgreSQL database that has logical replication enabled.
############

POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_PORT=5432
# default user is postgres


############
# Supavisor -- Database pooler
############
POOLER_PROXY_PORT_TRANSACTION=6543
POOLER_DEFAULT_POOL_SIZE=20
POOLER_MAX_CLIENT_CONN=100
POOLER_TENANT_ID=khoviet-tenant


############
# API Proxy - Configuration for the Kong Reverse proxy.
############

KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443


############
# API - Configuration for PostgREST.
############

PGRST_DB_SCHEMAS=public,storage,graphql_public


############
# Auth - Configuration for the GoTrue authentication server.
############

## General
SITE_URL=https://supabase.khoviet.com
ADDITIONAL_REDIRECT_URLS=https://n8n.khoviet.com,https://crawl4ai.khoviet.com,https://dify.khoviet.com
JWT_EXPIRY=3600
DISABLE_SIGNUP=false
API_EXTERNAL_URL=https://supabase.khoviet.com

## Mailer Config
MAILER_URLPATHS_CONFIRMATION="/auth/v1/verify"
MAILER_URLPATHS_INVITE="/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="/auth/v1/verify"

## Email auth
ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=false
SMTP_ADMIN_EMAIL=admin@khoviet.com
SMTP_HOST=smtp.khoviet.com
SMTP_PORT=587
SMTP_USER=supabase@khoviet.com
SMTP_PASS=your_smtp_password_here
SMTP_SENDER_NAME=Supabase Admin
ENABLE_ANONYMOUS_USERS=false

## Phone auth
ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true


############
# Studio - Configuration for the Dashboard
############

STUDIO_DEFAULT_ORGANIZATION=KhoViet Organization
STUDIO_DEFAULT_PROJECT=KhoViet Project

STUDIO_PORT=3000
# replace if you intend to use Studio outside of localhost
SUPABASE_PUBLIC_URL=https://supabase.khoviet.com

# Enable webp support
IMGPROXY_ENABLE_WEBP_DETECTION=true

# Add your OpenAI API key to enable SQL Editor Assistant
OPENAI_API_KEY=


############
# Functions - Configuration for Functions
############
# NOTE: VERIFY_JWT applies to all functions. Per-function VERIFY_JWT is not supported yet.
FUNCTIONS_VERIFY_JWT=true


############
# Logs - Configuration for Logflare
# Please refer to https://supabase.com/docs/reference/self-hosting-analytics/introduction
############

LOGFLARE_LOGGER_BACKEND_API_KEY=khoviet_logflare_logger_backend_api_key

# Change vector.toml sinks to reflect this change
LOGFLARE_API_KEY=khoviet_logflare_api_key

# Docker socket location - this value will differ depending on your OS
DOCKER_SOCKET_LOCATION=/var/run/docker.sock

# Google Cloud Project details
GOOGLE_PROJECT_ID=khovietcom
GOOGLE_PROJECT_NUMBER=123456789
